html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 63, 92);
}

.formulario {
    background-color: #fff;
    padding: 60px;
    border-radius: 6px;
}

#success,
#error {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    font-weight: 300;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#success strong,
#error strong {
    font-weight: bold;
    vertical-align: baseline;
}

#success {
    background-color: #1dc42e;
}

#error {
    background-color: #d12121;
}